@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(93.15deg, #9E3DFF 6.68%, #F30EDC 104.37%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
};